<h1 align="center" >All Articles</h1>
<%= render "article", obj: @articles %>
<div align="center">
	<%= link_to "Create new article", new_article_path, class: "btn btn-success" %><br>
	<%= link_to "Back to the home page", root_path %>
</div>