<h1> This is my page </h1>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Alpha Blog!</h1>
  <p class="lead">This is the best blog providing service on the web and it's getting better and better every day!</p>
  <hr class="my-4">
  <p>Create your own posts or get inspired by intresting texts from all over the world!</p>
  <%= link_to "Start now!", new_article_path, class: "btn btn-primary btn-lg", role: "button"%>
</div>
<%= link_to 'Alpha Blog', articles_path %> | <%=	link_to 'About', about_path %>