/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 .content {
 	margin-top: 20px;
 };

 .welcome {
 	background-image: url('welcome.jpg');
 	border: 1px solid black;
 	background-size: cover;
 }
 
 .search-nav{
 	background-color: white;
 	color: grey;
 }

 .deleteButton {
 	color:red;
 }

 .footer {
 	margin-top: 45px;
 	padding-top: 5px;
 	border-top: 1px solid #EAEAEA;
 	color: #777;
 }

 .footer a:hover {
 	color: #222;
 }

 .footer small {
 	float: left;
 }

 .footer ul {
 	float: right;
 	list-style: none;
 }

 .footer ul li {
 	float: left;
 	margin-left: 15px;
 }

 #logo{
 	float: left;
 	font-size: 1.7em;
 	color: #FFF;
 	text-transform: uppercase;
 	letter-spacing: -1px;
 	font-weight: bold;
 }

 .description {
 	margin-top: 5px;
 }

 .button_class {
 	border-top: 1px solid #EAEAEA;
 	padding-top: 10px;
 	margin-top:10px;
 }

 .article-bubble {
 	border: 1px solid #EAEAEA;
 	padding: 8px;
 	margin-bottom: 10px;
 	border-radius: 8px;
 	background-color: #F8F8FF;
 }

 .article-title {
 	font-weight: bold;
 	font-size: 1.5em;
 }

 .article-title a:hover {
 	text-decoration: none
 }

 .article-body {
 	border-top: 1px solid #EAEAEA;
 	padding-top: 10px;
 }

 .article-meta-details {
 	font-size: 15px;
 	font-style: italic;
 	margin-top: 15px;
 }

 .centered-articles {
 	margin:auto;
 	width: 600px;
 }

 .centered-container {
 	margin: auto;
 	width: 350px;
 	border: 1px solid black;
 	margin-top:10px;
 	margin-bottom: 10px;
 	padding: 10px;
 	border-radius: 8px;
 	color: #000000;
 	background-color: #87CEFA;
 }

 .signup {
 	float: right;
 }

 .nav-signup {
 	margin-left:5px;
 }

 #logo:hover{
 	color:#FFF;
 	text-decoration: none;
 }